*.pyc
*.pyo
*.log
*.idea
*.swp
*.un~
*.sqlite
stubs
*.iml
.project
env
env/*
.pydevproject
.settings/
htmlcov/*
htmlcov
build/*
test/configparser
nginx-repo.crt
nginx-repo.key
.coverage
naas_agent.yaml
.cache/*
.cache
*~
.DS_Store
tools/validate.sh
tools/qa/*
tools/qa
tools/access_log_parser.py
test/unit/ext/configurator
packages/nginx-controller-agent
etc/agent.configurator.conf.default
etc/agent.controller.conf.default
amplify/ext/configurator
docker/ubuntu1604-controller.yml
docker/ubuntu1604-controller
docker/agent-pipeline
Jenkinsfile
nginx-controller-agent.py
controller-agent
